html,body,h1,h2,h3,h4{ margin:0;}
html,body{ padding:0; width:100%; height:100%;}
body{ background-color:#fff; font-size:14px;}
*{ font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; box-sizing:border-box;}
*:after,*:before{ box-sizing:border-box;}

#app{ min-width:1200px; height:100%;}
#app:after{ content:''; display:block; line-height:0; font-size:0; clear:both;}
#content{
  $hTop:50px;
  $hBottom:60px;

  float:left; width:75%; height:100%; padding-top:$hTop; padding-bottom:$hBottom; position:relative;

  h2{ font-size:20px; font-weight:normal; line-height:$hTop; background:linear-gradient(#eee,#ccc) #ddd; padding:0 2em; margin-top:-$hTop;}
  h2 strong{ display:inline-block; width:1.2em; height:1.2em; border-radius:50%; background-color:red; color:white; line-height:1.2em; text-align:center; margin-right:5px;}
  .mainContent{ height:100%; display:table; width:100%;}
  .descript{ height:$hBottom; background:#D23C3D; color:#fff; text-align:center;}
  .descript:before{ content:''; display:inline-block; vertical-align:middle; height:100%; width:0; overflow:hidden;}
  .descwords{ display:inline-block; text-align:left; max-width:90%; vertical-align:middle;}
}
#nav{
  float:right; width:25%; background-color:#ccc; height:100%; padding:10px;
  button{ border-radius:6px; padding:5px; margin:5px;}
}
h1{ position:absolute; top:5px; right:20px; color:#db61a3;}

.outside{ display:table-cell; text-align:center; vertical-align:middle;}
.outside>div{ display:none;}
.outside>.show{ display:inline-block;}

.clearFloat:after{ content:''; height:0; width:100%; clear:both; }

#e1{
  background:url(images/back1.jpg); padding:20px; position:relative;
  &>div{ float:left; margin:20px; width:200px; height:200px; background-color:#fff; text-align:left;}
  &>div:hover{ background:#f90;}
  &>.normalClip{  border:20px dashed #eee; border-color:rgba(255,255,255,.5);}
  &>.paddingClip{ border:20px dashed #eee; border-color:rgba(255,255,255,.5); background-clip:padding-box;}
  &>.ie8{ background:transparent; background-color:rgba(255,255,255,.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff); padding:20px;}
  .ct{ background:#fff; width:100%; height:100%;}
}

#e2{
  padding:20px; background:#fff;
  &>div{ float:left; margin:20px; width:200px; height:200px; text-align:left; text-shadow:0 0 3px #fff; word-break:break-all;}
  &>.shadow{ border:10px solid #655; box-shadow:0 0 0 10px deeppink,0 0 0 20px brown;}
  &>.shadow:hover{ background:#666; color:#fff;}
  &>.shadowin{ border:10px solid #655; box-shadow:0 0 0 10px green inset, 0 0 0 20px orange inset;}
  &>.shadowin:hover{ background:deepskyblue;}
  &>.shadowin.round{ border-radius:40px;}
  &>.outline{ outline:10px dashed #655; border-radius:40px; background:#8ff;}
  &>.outline:hover{ background:deepskyblue;}
  &>.outline2{ background:#666666; color:#fff; outline:2px dashed #fff; outline-offset:-20px; padding:30px; border-radius:20px;}
  &>.outline2:hover{ background:brown;}
}

#e3{
  &>div{ float:left; margin:20px; width:25%; height:180px; text-align:left; padding:10px; text-shadow:0 0 5px #fff;}
  &>.p1{ background:url(images/watermelon.png) no-repeat bottom right #96cc86; background-position:bottom 10px right 10px; }
  &>.p2{ background:url(images/grapes.png) no-repeat bottom right #C182E0; background-origin:content-box; padding:20px;}
  &>.p3{ background:url(images/pineapple.png) no-repeat bottom right #FFE878; background-position:calc(100% - 20px),calc(100% - 20px); padding:20px;}
}

#e4{
  &>div{ float:left; margin:20px; width:300px; height:180px; padding:10px; text-shadow:0 0 5px #fff; text-align:justify;}
  &>div:hover{ background:#f90;}
  &>.p1{ background:#655; }
  & .p1inside{ background:tan; height:100%; border-radius:.8em; padding:1em;}
  &>.p2{ background:tan; border-radius:.8em; padding:1em; box-shadow:0 0 0 .5em #655; outline:.6em solid #655;}
}

#e5{
  &>div{ float:left; margin:20px; width:200px; height:200px; padding:10px; text-shadow:0 0 5px #fff; text-align:justify; box-shadow:0 0 10px rgba(0,0,0,.4);}
  &>.p1{ background:linear-gradient(#fb3, #58a);}
  &>.p2{ background:linear-gradient(#fb3, #58a, #9F18B3);}
  &>.p3{ background:linear-gradient(#fb3 50%, #58a 0);}
  &>.p4{ background:linear-gradient(#fb3 33.33%, #58a 0, #58a 66.66%, #9F18B3 0);}
  &>.p5{ background:linear-gradient(#fb3 50%, #58a 0); background-size:100% 40px;}
  &>.p6{ background:linear-gradient(90deg, #fb3 50%, #58a 0); background-size:40px 100%;}
  &>.p7{ background:linear-gradient(45deg, #fb3 50%, #58a 0); background-size:40px 100%;}
  &>.p8{ background:linear-gradient(45deg, #fb3 50%, #58a 0); background-size:40px 40px;}
  &>.p9{ background:linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0); background-size:56.56px 56.56px;}
  &>.p10{ background:repeating-linear-gradient(-60deg,#fb3,#fb3 20px,#58a 0,#58a 40px);}
  &>.p11{ background:#58a; background-image:repeating-linear-gradient(-38deg,rgba(255,255,255,.5),rgba(255,255,255,.5) 20px,transparent 0,transparent 40px);}
}

#e6{
  @mixin polka($size, $dot, $base, $accent){
    background: $base;
    background-image: radial-gradient($accent $dot, transparent 0), radial-gradient($accent $dot, transparent 0);
    background-size: $size $size,$size $size;
    background-position:0 0, $size/2 $size/2;
  }
  @mixin checkerboard($size, $base, $accent:rgba(0,0,0,.25)){
    background: $base;
    background-image: linear-gradient(45deg, $accent 25%, transparent 0, transparent 75%, $accent 0), linear-gradient(45deg, $accent 25%, transparent 0, transparent 75%, $accent 0);
    background-position:0 0, $size $size;
    background-size:2*$size 2*$size;
  }
  &>div{ float:left; margin:20px; width:200px; height:200px; padding:10px; text-shadow:0 0 5px #fff; text-align:justify; box-shadow:0 0 10px rgba(0,0,0,.4);}
  &>.p1{ background:white; background-image:linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0), linear-gradient(rgba(200,0,0,.5) 50%, transparent 0); background-size:40px 40px;}
  &>.p2{ background:#58a; background-image:linear-gradient(transparent 39px,white 0), linear-gradient(90deg,transparent 39px,white 0); background-size:40px 40px;}
  &>.p3{ background:#58a; background-image:linear-gradient(transparent 48px,white 0), linear-gradient(90deg,transparent 48px,white 0), linear-gradient(transparent 24px,rgba(255,255,255,.4) 0),linear-gradient(90deg,transparent 24px,rgba(255,255,255,.4) 0); background-size:50px 50px,50px 50px,25px 25px,25px 25px;}
  &>.p4{ background:#655; background-image:radial-gradient(tan 30%,transparent 0); background-size:40px 40px;}
  &>.p5{ @include polka(40px, 30%, #655, tan);}
  &>.p6{ @include checkerboard(20px, #58a, tan);}
  &>.p7{ background: #eee url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25"><rect x="50" width="50" height="50"/><rect y="50" width="50" height="50"/></svg>'); background-size:40px 40px;}
}

#e7{
  &>div{ margin:20px; width:700px; height:200px; padding:10px; text-shadow:0 0 5px #fff; text-align:justify; box-shadow:0 0 10px rgba(0,0,0,.4);}
  &>.p1{ background:hsl(20,40%,90%); background-image:linear-gradient(90deg,#fb3 15%,#655 0,#655 40%, #ab4 0, #ab4 65%, transparent 0); background-size:80px 100%;}
  &>.p2{ background:hsl(20,40%,90%); background-image:linear-gradient(90deg, #fb3 10px, transparent 0), linear-gradient(90deg, #ab4 20px,transparent 0),linear-gradient(90deg, #655 20px, transparent 0); background-size:80px 100%,60px 100%,40px 100%;}
  &>.p3{ background:hsl(20,40%,90%); background-image:linear-gradient(90deg,#fb3 11px,transparent 0),linear-gradient(90deg,#ab4 23px,transparent 0),linear-gradient(90deg,#655 41px,transparent 0); background-size:41px 100%,61px 100%,83px 100%;}
}