@charset "utf-8";
/*
//author relaxWang begin 2015/12
//last modify 2016/11/16
//Version 0.15
//移动端样式定义，兼容PC端浏览器
*/

/* reset */
*{ font-family:"Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,STHeiTi,sans-serif; box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li,form,iframe,object,input{ margin:0px; padding:0px;}
a{ text-decoration:none;}
h1,h2,h3,h4,h5,h6,strong{ font-weight:normal;}
ul,ol,dl{list-style: none outside none;}
input,textarea,select{ font-family:inherit;}
a:active, a:focus, input:active, input:focus, button:active, button:focus{ outline:none; -moz-outline:none;} /*去掉移动端firefox a标签的虚线框 PC chrome文本输入框的边框焦点时候的颜色 */
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner{ border:none;} /*去掉移动端firefox 按钮获得焦点显示虚线框的样式 */
table { border-collapse:collapse; border-spacing:0; width:100%;}
html,body{ position:relative; height:100%; width:100%;}  /* 注意 某些版本的IE中（IE9）会导致iframe的内容定位错误，请参考是否去掉该属性，或者为iframe增加relative的属性 */
iframe{ width:100%; height:100%; position:relative;}
/* 清除现代IE浏览器的输入框和密码框的默认交互按钮 */
::-ms-clear, ::-ms-reveal{display: none;}
/* 针对不支持语义化标签浏览器做的应对*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/* chrome内核浏览器对cursor:pointer的样式对象，点击触发样式中会有浅蓝色背景框，用该样式去除 */
/* -webkit-tap-highlight-color:rgba(255,255,255,0); */
/* reset end */

/* 如果html不加overflow:hidden 在某些移动端浏览器上会出现html可滚动的情况 */
html{ font-size:10px; overflow:hidden;}
body{ font-size:1.4em; overflow:hidden;}

/* 文字大小及颜色公共样式 */
/* t打头 文字大小 c打头 文字颜色 */
.t5{ font-size:1.43em; font-size:2rem;}
.t4{ font-size:1.28em; font-size:1.8rem;}
.t3{ font-size:1.14em; font-size:1.6rem;}
.t2{ font-size:1em; font-size:1.4rem;}
.t1{ font-size:0.86em; font-size:1.2rem;}


/* ================= 框架样式  =========================== */
header,nav{ position:fixed; z-index:500; left:0px; width:100%; box-shadow:0px 0px 6px rgba(0,0,0,0.3);}
header{ top:0px; height:44px;}
nav{ bottom:0px; box-shadow:0px -1px 6px #ccc; height:50px; text-align:center;}
header > *, nav > *, nav > *{ display:none; width:100%; height:100%; text-align:center;}
header > *:first-child{ display:table;}
nav > *:first-child{ display:table;}
header h2{ text-align:center; font-size:1.14em; font-size:1.6rem; display:table-cell; vertical-align:middle;}
header h2.left{ text-align:left; padding-left:5.36em; padding-left:7.5rem;}
header .icon{ position:absolute; font-size:1.7em; font-size:2.4rem; top:50%; margin-top:-0.5em; margin-top:-0.8rem; z-index:550; line-height:1; cursor:pointer; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
header .icon.left1{ left:0.35em; left:0.5rem;}
header .icon.left2{ left:1.94em; left:3.8rem;}
header .icon.right1{ right:0.35em; right:0.5rem;}
header .icon.right2{ right:1.94em; right:3.8rem;}
nav > * > *{ display:table-cell; vertical-align:middle; font-size:1em; font-size:1.4rem;}
nav .navButton{ height:100%;}
nav .navButton > *{ display:inline-block; width:100%; padding:0px; margin:0px;}
nav .icon{ font-size:1.14em; font-size:1.6rem;}
.content{ height:100%; width:100%; padding-top:44px; padding-bottom:50px; overflow:hidden;}
.content .pages{ display:none; height:100%; width:100%; overflow:auto; position: relative;} /* 内容滚动条出现在这个元素上 */
.content .pages:first-child{ display:block;}
.content .pages iframe{ width:100%; height:100%; border:none;}

.contentPadding{ padding:10px;}
.tt1{ font-size:1.14em; font-size:1.6rem; position:relative;}
.tt2{ font-size:1em; font-size:1.4rem;}
.splitBar{ position:relative;}
.splitBar:after{ content:''; display:block; width:100%; height:10px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background-color:#efefef; position:absolute; left:0; bottom:0;}
.splitLB{ border-bottom:1px solid #ccc;}
.splitLT{ border-top:1px solid #ccc;}
.PT{ padding-top:5px;}
.PT2{ padding-top:10px;}
.PB{ padding-bottom:5px;}
.PB2{ padding-bottom:10px;}
.MT{ margin-top:5px;}
.MT2{ margin-top:10px;}
.MB{ margin-bottom:5px;}
.MB2{ margin-bottom:10px;}
/* 布局列模式排版 */
.blk2,.blk3,.blk4{ display:table; width:100%;}
.blk2 > .col,.blk3 > .col,.blk4 > .col{ display:table-cell; vertical-align:middle;}
.blk2 > .col{ text-align:right;}
.blk2 > .col:first-child{ text-align:left; width:40%;}
.blk3 > .col{ text-align:center; width:33.3%;}
.blk3 > .col:first-child{ text-align:left;}
.blk3 > .col + .col + .col{ text-align:right;}
.blk4 > .col{ text-align:center; width:25%;}
/* 文本列模式排版 */
.ltx1,.ltx2,.ltx3,.ltx4{}
.ltx1 > .col, .ltx2 > .col, .ltx3 > .col, .ltx4 > .col{ display:inline-block; text-align:center; min-width:100px;}
.ltx1 > .col{ width:100%;}
.ltx2 > .col{ width:50%;}
.ltx3 > .col{ width:33.3%;}
.ltx4 > .col{ width:25%;}
/* 移动端的文本加扩展按钮*/
.extText{}
.extText .txt{ display:table-cell; width:100%; padding-right:5px; white-space:normal; word-break:break-all;}
.extText .ext{ display:table-cell; vertical-align:middle;}
/* 靠右左对齐的文本 */
.rightTxt{ float:right; text-align:left; white-space:normal; word-break:break-all;}

/* ==================== 控件 ==================================================== */
/* 控件文本通用样式 */
.rexButton, .rexCheckbox label, .rexInput{
	display:inline-block; font-size:inherit; border:1px solid transparent; background-repeat:no-repeat; padding:0.6em 0.8em; cursor:pointer; border-radius:0.42em; line-height:1; position:relative; vertical-align:middle;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
.rexButton, .rexCheckbox label, .rexCheckbox, .rexCheckbox input{
	/* 文本选中禁止，IE下有些问题 IE10 IE11部分支持，选择从按钮开始则无法选择，从可选择元素可以则可以选择 IE9,IE8不支持 */
	user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;
}
.S3D{ background-image:linear-gradient(rgba(255,255,255,0.4) 0%, transparent 60%);}
.SBLK{ display:block;}
.SHAD{ box-shadow:0px 2px 3px rgba(0,0,0,0.4);}
.STL{ text-align:left;}
.STR{ text-align:right;}
.STC{ text-align:center;}

/* 数字标签控件 */
.rexNumber{ display:inline-block; background-color:#666; color:#fff; overflow:hidden; font-size:0.86em; font-size:1.2rem; padding:0.4em 0.4em; border-radius:0.42em; line-height:1; vertical-align:middle;}
.rexNumber.SBLK{ display:block; padding:0.6em 0.8em;}
/* 按钮控件 */
.rexButton{ border-color:#999; background-color:#e9e9e9; color:#333;}
.rexButton:active{ background-color:#fff; border-color:#999; color:#666; background-image:none; box-shadow:none;}
.rexButton:active > *{ box-shadow:none;}
.rexButton[disabled="disabled"]{ background-color:#f0f0f0; color:#ccc; border-color:#ccc; background-image:none; box-shadow:none;}
.rexButton.icon:before{ 
	/* 引用图标文字信息 */
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	margin-right:0.3em
}
.rexButton.SBLK{ display:block;}
.rexButton>*{ display:inline; margin:0 0.2em;}
.rexButton.SBLK.STL>*{ float:right;}
.rexButton.SBLK.STR>*{ float:left;}
.rexButton .rexNumber{ padding:0.1em 0.4em; vertical-align:baseline;}
.rexButton.SBLK.STL .rexNumber,.rexButton.SBLK.STR .rexNumber{ padding:0.3em 0.4em; margin-top:-0.2em;}
/* 单选按钮 */
/* 目前由于IE8不支持:checked伪属性，所以仅使用CSS暂无法实现IE8的点击交互的视觉功能，后期引入JS来处理该问题 */
.rexCheckbox{ position:relative; display:inline-block; vertical-align:middle; border-radius:0.42em;}
.rexCheckbox label{ position:relative; border-color:#999; background-color:#f0f0f0; color:#333;}
.rexCheckbox input[type="radio"],.rexCheckbox input[type="checkbox"]{ position:absolute; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); opacity:0; top:0; left:0; width:100%; height:100%; cursor:pointer; z-index:1;}
.rexCheckbox input[type="radio"][disabled="disabled"]+label, .rexCheckbox input[type="checkbox"][disabled="disabled"]+label{ background-image:none; background-color:#f0f0f0; color:#ccc; border-color:#ccc; box-shadow:none;}
.rexCheckbox input[type="radio"]:checked+label, .rexCheckbox input[type="checkbox"]:checked+label{ border:1px solid #999; background-color:#fff; color:#666;}
.rexCheckbox input[type="radio"]:checked+label:before{ content:''; position:absolute; bottom:0; right:0; font-size:0; width:0; height:0; border:0.4rem solid #999; border-top-color:transparent; border-left-color:transparent;}
.rexCheckbox input[type="checkbox"]:checked+label:before{ content:''; position:absolute; bottom:0; right:0; font-size:0; width:0; height:0; border:0.7rem solid #999; border-top-color:transparent; border-left-color:transparent;}
.rexCheckbox input[type="checkbox"]:checked+label:after{ content:'\e62f'; position:absolute; bottom:-1px; right:-2px; color:#fff; font-size:1.2rem;
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

/* 开关按钮 */
.rexTabButton{ display:inline-block; border:1px solid #888; overflow:hidden; background-color:#999; border-radius:0.42em; position:relative; vertical-align:middle;}
.rexTabButton input[type="checkbox"]{ position:absolute; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); opacity:0; top:0; left:0; width:100%; height:100%; z-index:1; cursor:pointer; -webkit-tap-highlight-color:rgba(255,255,255,0);}
.rexTabButton label{ font-size:inherit; border:1px solid transparent; border-radius:0.40em; line-height:1; padding-top:0.55em; padding-bottom:0.55em;}
.rexTabButton input+label{ float:left; border-color:#888; padding-left:0.8em; padding-right:0.8em; background-color:#f2f2f2; color:#333;}
.rexTabButton input+label+label{ float:right; padding-left:0.3em; padding-right:0.3em; color:#bbb;}
.rexTabButton input:checked+label{ float:left; border-color:transparent; padding-left:0.3em; padding-right:0.3em; background-color:transparent; color:#bbb;}
.rexTabButton input:checked+label+label{ float:right; border-color:#999; padding-left:0.8em; padding-right:0.8em; background-color:#f2f2f2; color:#333;}

/* 普通输入框 */
.rexInput{  border-color:#ccc; cursor:default; box-sizing:border-box; width:140px;}

/* 交互弹出对话框 */
.dialog-title{ position:relative; height:44px; background-color:#e9e9e9;}
.dialog-title h4{ line-height:44px; height:100%; text-align:center;}
.dialog-title h4.left{ text-align:left; padding-left:20%;}
.dialog-title .mui-icon{ position:absolute; font-size:2.4rem; top:50%; margin-top:-0.5em; margin-top:-0.8rem; line-height:1; cursor:pointer; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
.dialog-title .mui-icon.left{ left:12px;}
.dialog-title .mui-icon.right{ right:12px;}
.dialog-title .iconfont{ position:absolute; font-size:2.4rem; top:50%; margin-top:-0.5em; margin-top:-0.8rem; line-height:1; cursor:pointer; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
.dialog-title .iconfont.left{ left:12px;}
.dialog-title .iconfont.right{ right:12px;}
.dialog-content{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#f8f8f8;}
.extDialog .dialog-content,.extMenu .dialog-content,.extPage .dialog-content{ overflow:auto;}
.dialog-buttonBar{ text-align:center; vertical-align:middle; background-color:#d9d9d9;}
.dialog-buttonBar .rexButton{ width:40%; max-width:210px; min-width:100px;}
.dialog-buttonBar .rexButton.SBLK{ width:80px; max-width:400px; min-width:160px; margin:0 auto; margin-bottom:10px;}
.dialog-buttonBar .rexButton.SBLK:last-child{ margin-bottom:0;}

.extDialog{ display:none; position:absolute; top:0px; left:0px; z-index:1000; box-shadow:0px 0px 10px rgba(0,0,0,0.5); width:88%; max-width:550px; min-width:280px; border-radius:6px; overflow:hidden;}
.extDialog .dialog-content{ word-break:break-all;}

.extMenu{ position:absolute; z-index:1000; box-shadow:0px 0px 10px #000; transition-property:transform; transition-duration:350ms;}
/* 扩展对话框 */
.extMenu.left{ top:0px; left:0px; height:100%; width:80%;}
.extMenu.left.hide{ 
  transform:translateX(-110%);
  -ms-transform:translateX(-110%);
  -moz-transform:translateX(-110%);
  -webkit-transform:translateX(-110%);
  -o-transform:translateX(-110%);
}
.extMenu.right{ top:0px; right:0px; height:100%; width:80%;}
.extMenu.right.hide{ 
  transform:translateX(110%);
  -ms-transform:translateX(110%);
  -moz-transform:translateX(110%);
  -webkit-transform:translateX(110%);
  -o-transform:translateX(110%);
}
.extMenu.top{ top:0px; left:0px; width:100%; overflow:hidden; height:40%;}
.extMenu.top.hide{ 
  transform:translateY(-110%);
  -ms-transform:translateY(-110%);
  -moz-transform:translateY(-110%);
  -webkit-transform:translateY(-110%);
  -o-transform:translateY(-110%);
}
.extMenu.bottom{ bottom:0px; left:0px; width:100%; overflow:hidden; height:40%;}
.extMenu.bottom.hide{ 
  transform:translateY(110%);
  -ms-transform:translateY(110%);
  -moz-transform:translateY(110%);
  -webkit-transform:translateY(110%);
  -o-transform:translateY(110%);
}
.extMenu.show{ 
  transform:none;
  -ms-transform:none;
  -moz-transform:none;
  -webkit-transform:none;
  -o-transform:none;
}
/* 页面对话框 */
.extPage{ position:absolute; top:0px; right:0px; z-index:1000; height:100%; width:100%; box-shadow:0px 0px 1px #000; transition-property:transform; transition-duration:350ms;}
.extPage.hide{ 
  transform:translateX(105%);
  -ms-transform:translateX(105%); 	/* IE 9 */
  -moz-transform:translateX(105%); 	/* Firefox */
  -webkit-transform:translateX(105%); /* Safari 和 Chrome */
  -o-transform:translateX(105%); 	/* Opera */
}
.extPage.show{ 
  transform:none;
  -ms-transform:none;
  -moz-transform:none;
  -webkit-transform:none;
  -o-transform:none;
}

/* 自隐藏对话框 */
.miniDialog{ display:none; position:fixed; left:0px; z-index:1000; width:100%; text-align:center; padding:5%;}
.miniDialog.top{ top:3%;}
.miniDialog.bottom{ bottom:3%;}
.miniDialog .dialogInside{ display:inline-block; text-align:left; box-shadow:0px 0px 10px rgba(0,0,0,0.6); word-break:break-all; border-radius:6px; background-color:#333; color:#fff; padding:5px 8px;}

/* 屏蔽层样式 */
.mask{ display:none; position:absolute; top:0px; left:0px; z-index:1000; height:100%; width:100%; background:#000; opacity:0;}


/* firefox 兼容性调整 */
@-moz-document url-prefix(){
	.rexInput{ padding:0.6em 0.8em;}
}


/* ==================== 版本向下兼容 ================================================ */
/* 内容框的空白边距 */
.mui-content-padded, .rexContentPadding{ padding:10px;}
/* 控件 */
.rexDeepButton, .rexDeepButton3D, .rexLightButton, .rexLightButton3D{
	display:inline-block; font-size:inherit; border:1px solid transparent; background-repeat:no-repeat; padding:0.6em 0.8em; cursor:pointer; border-radius:0.42em; line-height:1; position:relative; vertical-align:middle;
	/* 文本选中禁止，IE下有些问题 IE10 IE11部分支持，选择从按钮开始则无法选择，从可选择元素可以则可以选择 IE9,IE8不支持 */
	user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;
}
.rexDeepButton{ border-color:#e70606; background-color:#e70606; color:#fff;}
.rexDeepButton:hover{ background-color:#e18b8b; border-color:#e18b8b;}
.rexDeepButton:active{ background-color:#fff; color:#e70606;}
.rexDeepButton3D{ border-color:#e70606; background-color:#e70606; color:#fff; background-image:linear-gradient(rgba(255,255,255,0.4) 0%, transparent 60%);}
.rexDeepButton3D:hover{ background-color:#e18b8b; border-color:#e18b8b;}
.rexDeepButton3D:active{ background-image:none; background-color:#fff; color:#e70606;}
.rexDeepButton[disabled="disabled"], .rexDeepButton3D[disabled="disabled"]{ background-image:none; background-color:#f38080; color:#ffcccc; border-color:#f38080; box-shadow:none;}

.rexLightButton{ border-color:#999; background-color:#f0f0f0; color:#333;}
.rexLightButton:hover{ background-color:#eee; border-color:#eee; color:#666;}
.rexLightButton:active{ background-color:#e70606; border-color:#e70606; color:#fff;}
.rexLightButton3D{ border-color:#999; background-color:#f0f0f0; color:#333; background-image:linear-gradient(rgba(255,255,255,0.4) 0%, transparent 60%);}
.rexLightButton3D:hover{ background-color:#eee; border-color:#eee;}
.rexLightButton3D:active{ background-image:none; background-color:#e70606; border-color:#e70606; color:#fff;}
.rexLightButton[disabled="disabled"], .rexLightButton3D[disabled="disabled"]{ background-image:none; background-color:#f0f0f0; color:#ccc; border-color:#ccc; box-shadow:none;}


/* 按钮图标 */
.buttonIconLeft:before, .buttonIconRight:before, .buttonIcon{
	/* 引用图标文字信息 */
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.buttonIcon{ padding-left:0; padding-right:0; width:3em;}
.buttonIconLeft{ padding-left:2em;}
.buttonIconRight{ padding-right:2em;}
.buttonIcon:before{ position:absolute; left:0.52em; top:0.3em; font-size:1.4em;}
.buttonIconLeft:before{ position:absolute; left:0.5em; top:0.6em; font-size:1em;}
.buttonIconRight:before{ position:absolute; right:0.5em; top:0.6em; font-size:1em;}

/* 按钮阴影，用于用户自主选择是否需要 */
.buttonShadow{ box-shadow:0px 2px 3px rgba(0,0,0,0.4);}}
.buttonShadow:active{ box-shadow:none;}

.bntInline,.bntBlock{ height:36px; margin-top:4px; padding:0px 10px; line-height:34px; border-radius:6px; background-color:#f2f2f2; color:#666; font-size:14px;}
.bntBlock:active,.bntInline:active{ background-color:#999; color:#fff; border-color:#333;}
.bntInline{ margin:0px 5px; min-width:115px; max-width:240px; width:45%;}
.bntBlock{ min-width:240px; max-width:520px; width:80%}

/*
.rexCheckbox input[type="radio"]+.sel, .rexCheckbox input[type="checkbox"]+.sel{ border:1px solid #999; background-color:#fff; color:#666; }
.rexCheckbox input[type="radio"]+.sel:before{ content:'123'; position:absolute; bottom:0; right:0; font-size:0; width:0; height:0; border:0.4rem solid #999; border-top-color:transparent; border-left-color:transparent;}
.rexCheckbox input[type="checkbox"]+.sel:before{ content:''; position:absolute; bottom:0; right:0; font-size:0; width:0; height:0; border:0.7rem solid #999; border-top-color:transparent; border-left-color:transparent;}
.rexCheckbox input[type="checkbox"]+.sel:after{ content:'\e62f'; position:absolute; bottom:-1px; right:-2px; color:#fff; font-size:1.2rem;
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
*/


/* ==================== 配色 ================================================ */
/* 绿卡其蓝色调 */
.blackBack{ background-color:#c7c3a9;}
.whiteBack{ background-color:#f0ebcb;}
.stl_blue header{ background-color:#056283;}
.stl_blue h2{ color:#c2dadc;}
.stl_blue header .icon{ color:#5e9eb5;}
.stl_blue header .icon:active{ color:#f0ebcb;}
.stl_blue nav{ background-color:#a7a37e;}
.stl_blue .navButton{ color:#e6e3b0;}
.stl_blue .navButton:focus{ background-color:#e6e3b0; color:#a7a37e;}
.stl_blue .tt1{ color:#056283;}
.stl_blue .tt2{ color:#056283;}
.stl_blue .tt1 .icon{ color:#0ca2d7;}
.stl_blue .splitBar:after{ background-color:#c7c3a9; border-color:#a7a37e;}
.stl_blue .splitLT, .stl_blue .splitLB{ border-color:#0ca2d7;}
.stl_blue .words{ color:#5e5b44;}
.stl_blue .words strong{ color:#009f9f;}

/* 主题红色 */
.blackBack{ background-color:#e9dce1;}
.whiteBack{ background-color:#fff;}
.stl_red header{ background-color:#ab2836;}
.stl_red h2{ color:#e9dce1;}
.stl_red header .icon{ color:#d8717c;}
.stl_red header .icon:active{ color:#dec3cc;}
.stl_red nav{ background-color:#95727f;}
.stl_red .navButton{ color:#e9dce1;}
.stl_red .navButton:focus{ background-color:#e9dce1; color:#95727f;}
.stl_red .splitBar:after{ background-color:#e9dce1; border-color:#dec3cc;}
.stl_red .splitLT, .stl_red .splitLB{ border-color:#dec3cc;}
.stl_red .tt1{ color:#95727f;}
.stl_red .tt2{ color:#50011f; font-weight:600;}
.stl_red .tt1 .icon{ color:#0ca2d7;}

/* 文本色彩 */
.c1{ color:#ab2836;}
.c2{ color:#95727f;}
.c3{ color:#d8717c;}
.c4{ color:#dec3cc;}
.c5{ color:#e9dce1;}
.c01{ color:#000;}
.c02{ color:#333;}
.c03{ color:#666;}
.c04{ color:#999;}
.c05{ color:#ccc;}
.c06{ color:#fff;}

/* 控件配色 */
.rexCheckbox label{ border-color:#95727f; background-color:#e9dce1; color:#666;}
.rexCheckbox input[type="radio"]:checked + label,.rexCheckbox input[type="checkbox"]:checked + label{ border:1px solid #ab2836; background-color:#fff; color:#95727f;}
.rexCheckbox input[type="radio"]:checked + label:before{ border-right-color:#ab2836; border-bottom-color:#ab2836; }
.rexCheckbox input[type="checkbox"]:checked + label:before{ border-right-color:#ab2836; border-bottom-color:#ab2836;}

.bcr1.rexButton{ border-color:#ab2836; background-color:#ab2836; color:#e9dce1;}
.bcr1.rexButton:active{ background-color:#fff; border-color:#ab2836; color:#ab2836;}
.bcr2.rexButton{ border-color:#95727f; background-color:#95727f; color:#e9dce1;}
.bcr2.rexButton:active{ background-color:#e9dce1; border-color:#95727f; color:#72545f;}
.bcr3.rexButton{ border-color:#72545f; background-color:#ffedf4; color:#72545f;}
.bcr3.rexButton:active{ background-color:#ab2836; border-color:#ab2836; color:#e9dce1;}
.bcr1.rexNumber{ background-color:#ab2836; color:#fff;}
.bcr2.rexNumber{ background-color:#95727f; color:#fff;}
.bcr3.rexNumber{ background-color:#d8717c; color:#fff;}
.bcr4.rexNumber{ background-color:#0760da; color:#fff;}

.rexTabButton{ border-color:#703d50; background-color:#95727f;}
.rexTabButton input+label{ background-color:#e9dce1; color:#72505c; border-color:#ab2836;}
.rexTabButton input+label+label{ color:#bf98a7;}
.rexTabButton input:checked+label{ color:#bf98a7;}
.rexTabButton input:checked+label+label{ background-color:#e9dce1; color:#72505c; border-color:#ab2836;}

.dialog-title{ background-color:#ab2836;}
.dialog-title .iconfont{ color:#d8717c;}
.dialog-title .iconfont:active{ color:#dec3cc;}
.dialog-content{ background-color:#fff;}
.dialog-buttonBar{ background-color:#e9dce1;}
.miniDialog .dialogInside{ background-color:#95727f;}


